.bottom {
  margin: 10px;
  padding: 5px;
  border: 2px solid rgb(127, 68, 163);
  border-radius: 10px;
}

.row {
  border: 2px solid;
  border-radius: 10px;
  box-shadow: rgb(190, 52, 52) 0px 20px 30px -10px;
}

body {
  background-color: #ffffff;
}